<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
		</div>
	</header>

	<section class="resources">
		<div class="resource grid grid-4col">
			<label for="system.race" class="resource-label">RACE</label>
			<label for="system.sex" class="resource-label">SEX</label>
			<label for="system.age.value" class="resource-label">AGE</label>
			<label for="system.ap.value" class="resource-label">AP</label>
		</div>
		<div class="resource grid grid-4col">
			<select id="system.race" name="system.race">
				{{selectOptions race_list selected=system.race labelAttr="label"}}
			</select>
			<input type="text" name="system.sex" value="{{system.sex}}" data-dtype="text" />
			<input class="statnum" type="text" name="system.age.value" value="{{system.age.value}}" data-dtype="Number" />
			<input class="statnum" type="text" name="system.ap.value" value="{{system.ap.value}}" data-dtype="Number" />
		</div>

		<div class="resource grid grid-4col">
			<label for="system.rank" class="resource-label">RANK</label>
			<label for="system.assignment" class="resource-label">ASSIGNMENT</label>
			<label for="system.ship" class="resource-label">SHIP</label>
			<label for="system.position" class="resource-label">POSITION</label>
		</div>
		<div class="resource grid grid-4col">
			<select id="system.rank" name="system.rank">
				{{selectOptions rank_list selected=system.rank labelAttr="label"}}
			</select>
			<input type="text" name="system.assignment" value="{{system.assignment}}" data-dtype="text" />
			<input type="text" name="system.ship" value="{{system.ship}}" data-dtype="text" />
			<select id="system.position" name="system.position">
				{{selectOptions department_positions_list selected=system.position labelAttr="label"}}
			</select>
		</div>
	</section>

	<section class="grid grid-7col">
		{{!-- The grid classes are defined in scss/global/_grid.scss. To use, use both the "grid" and "grid-Ncol" class where "N" can be any number from 1 to 12 and
		will create that number of columns. --}} {{#each system.abilities as |ability key|}}
		<div class="statnum">
			<label
				for="system.abilities.{{key}}.total"
				class="resource-label rollable flexlarge align-left"
				data-roll="d100"
				data-value="{{ability.total}}"
				data-label="{{ability.label}} {{ability.total}}"
				>{{ability.label}}</label
			>
			<input type="text" name="system.abilities.{{key}}.value" value="{{ability.total}}" data-dtype="Number" />
		</div>
		{{/each}}
	</section>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		{{!-- Default tab is specified in actor-sheet.mjs --}}
		<a class="item" data-tab="skills">Skills</a>
		<a class="item" data-tab="description">Description</a>
		<a class="item" data-tab="items">Items</a>
		<a class="item" data-tab="effects">Effects</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Owned skills Tab --}}
		<div class="tab skills" data-group="primary" data-tab="skills">
			{{!-- For the main features list, span the right two columns --}}
			<section class="main grid-span-2">
				<div class="resources grid grid-6col">
					<label for="system.inactsave.value" class="resource-label">Inact Save</label>
					<label for="system.uncthresh.value" class="resource-label">Unc Thresh</label>
					<label for="system.maxopend.value" class="resource-label">Max Op End</label>
					<label for="system.curropend.value" class="resource-label">Curr Op End</label>
					<label for="system.tohitmod.value" class="resource-label">To Hit, Mod</label>
					<label for="system.tohithth.value" class="resource-label">To Hit, HTH</label>
					<input class="statnum" type="text" name="system.inactsave.value" value="{{system.inactsave.value}}" data-dtype="Number" />
					<input class="statnum" type="text" name="system.uncthresh.value" value="{{system.uncthresh.value}}" data-dtype="Number" />
					<input class="statnum" type="text" name="system.maxopend.value" value="{{system.maxopend.value}}" data-dtype="Number" />
					<input class="statnum" type="text" name="system.curropend.value" value="{{system.curropend.value}}" data-dtype="Number" />
					<input class="statnum" type="text" name="system.tohitmod.value" value="{{system.tohitmod.value}}" data-dtype="Number" />
					<input class="statnum" type="text" name="system.tohithth.value" value="{{system.tohithth.value}}" data-dtype="Number" />
				</div>
				<div class="resources grid grid-5col">
					<label for="system.tohit.value" class="resource-label">To Hit</label>
					<label for="system.woundhealrate.value" class="resource-label"
						>Wound <br />
						Heal Rate</label
					>
					<label for="system.fatiguehealrate.value" class="resource-label">Fatigue <br />Heal Rate</label>
					<label for="system.barehanddamage.value" class="resource-label">Bare Hand Damage</label>
					<label for="system.damage.value" class="resource-label">Damage</label>
					<input class="statnum" type="text" name="system.tohit.value" value="{{system.tohit.value}}" data-dtype="Number" />
					<input class="statnum" type="text" name="system.woundhealrate.value" value="{{system.woundhealrate.value}}" data-dtype="Number" />
					<input class="statnum" type="text" name="system.fatiguehealrate.value" value="{{system.fatiguehealrate.value}}" data-dtype="Number" />
					<input class="dicenum" type="text" name="system.barehanddamage" value="{{system.barehanddamage}}" data-dtype="text" />
					<input class="statnum" type="text" name="system.damage.value" value="{{system.damage.value}}" data-dtype="Number" />
				</div>
				<div class="resources grid grid-2col">
					<label for="system.modernmarksmanship.value" class="resource-label">Modern<br />Marksmanship</label>
					<label for="system.unarmedconbat.value" class="resource-label">Unarmed<br />Personal Combat</label>
					<input class="statnum" type="text" name="system.modernmarksmanship.value" value="{{system.modernmarksmanship.value}}" data-dtype="Number" />
					<input class="statnum" type="text" name="system.unarmedconbat.value" value="{{system.unarmedconbat.value}}" data-dtype="Number" />
				</div>
				{{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
				{{>"systems/fasastartrek/templates/actor/parts/actor-skills.html"}}
			</section>
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			{{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}} {{editor
			system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
		</div>

		{{!-- Owned Items Tab --}}
		<div class="tab items" data-group="primary" data-tab="items">{{> "systems/fasastartrek/templates/actor/parts/actor-items.hbs"}}</div>

		{{!-- Active Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">{{> "systems/fasastartrek/templates/actor/parts/actor-effects.hbs"}}</div>
	</section>
</form>

{{log system}}
